<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="com.qa.utils.ExtentReportGenerator" />
  </listeners>
<parameter name="Browser" value="chrome" />

  <test name="Test">
    <classes>
      <class name="package1.webLaunch"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
